body {
  background-color: #000;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

.s-scroll {
  position: relative;
  overflow: hidden;
  height: 100vh;
}

.s-scroll.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.s-scroll-bg-img {
  height: 100%;
  background-image: url('../images/bg-1.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.s-scroll-bg-img.is-1 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;
  background-image: url('../images/KakaoTalk_Photo_2021-06-29-11-53-38.png');
}

.s-scroll-bg-img.is-2 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;
  background-image: url('../images/KakaoTalk_Photo_2021-06-29-11-54-38.png');
}

.s-scroll-bg-img.is-3 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;
  background-image: url('../images/KakaoTalk_Photo_2021-06-29-11-54-43.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.content-top {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  padding: 100px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.content-top-right {
  font-size: 14px;
  line-height: 2em;
}

.content-top-right.thrid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.body {
  font-family: Manrope, sans-serif;
  color: #fff;
  font-size: 16px;
}

.content-bottom {
  position: absolute;
  left: auto;
  top: auto;
  right: auto;
  bottom: 0%;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  padding: 100px 0px 25px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.d {
  font-size: 7.5em;
  line-height: 1.2em;
}

.number {
  margin-bottom: 30px;
  font-size: 1.6em;
}

.image {
  width: 75px;
}

.content-heading-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.dev-letter {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-right: 6px;
  font-size: 1em;
  line-height: 1.3em;
  font-weight: 400;
}

.design-letter {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 7.5em;
  line-height: 1.3em;
}

.interaction-letter {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 7.5em;
  line-height: 1.3em;
}

.section-p {
  position: static;
  max-width: none;
  padding-right: 0px;
  font-size: 30px;
  line-height: 30px;
}

.section-p.section {
  padding-right: 0px;
}

.section-p.section.mobile {
  display: none;
}

.section-p.thrid {
  margin-right: 40px;
  margin-left: 40px;
  padding-right: 0px;
}

.section-p.first {
  margin-left: 0px;
  padding-bottom: 72px;
}

.section-p.first.mobile {
  display: none;
  margin-left: 0px;
}

.section-p.disc {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.transition-block {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 999;
  display: none;
  background-color: #000;
}

.heading {
  margin-top: 0px;
  margin-bottom: 15px;
  font-size: 5em;
  line-height: 1.2em;
}

.paragraph {
  max-width: 700px;
  margin-bottom: 0px;
  font-size: 1.5em;
  line-height: 1.5em;
}

.link {
  color: #c6ae94;
}

.footer-content-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 800px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.image-2 {
  padding-top: 19px;
}

.image-3 {
  margin-left: 30px;
}

.image-3.thrid {
  margin-top: 0px;
  margin-bottom: 85px;
  margin-left: 0px;
}

.image-3.thrid.mobile {
  display: none;
}

.image-4 {
  margin-top: 25px;
  margin-left: 0px;
}

.image-4.mobile {
  display: none;
}

.image-5 {
  display: none;
}

.image-6 {
  display: none;
}

.image-7 {
  display: none;
}

.image-8 {
  padding-top: 19px;
}

.image-9 {
  padding-top: 33px;
}

.heading-2 {
  position: absolute;
  left: 89%;
  top: -2%;
  right: auto;
  bottom: auto;
}

.heading-2._2 {
  left: -10%;
  top: 20%;
  right: auto;
  bottom: auto;
  font-size: 30px;
  line-height: 30px;
}

.heading-2._2._4 {
  left: 18%;
  top: -7%;
  right: auto;
  bottom: auto;
  font-size: 10px;
  line-height: 10px;
}

.heading-2._2._4._1 {
  left: 57%;
  top: 27%;
  right: auto;
  bottom: auto;
  font-size: 20px;
  line-height: 20px;
}

.div-block-2 {
  position: relative;
}

.div-block-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-10 {
  display: none;
}

.div-block-6 {
  display: none;
}

@media screen and (max-width: 991px) {
  .content-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .content-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .image {
    margin-bottom: 25px;
  }

  .content-heading-wrapper {
    margin-bottom: 25px;
  }

  .dev-letter {
    font-size: 5em;
  }

  .design-letter {
    font-size: 5em;
  }

  .interaction-letter {
    font-size: 5em;
  }

  .section-p {
    text-align: center;
  }

  .heading {
    font-size: 3em;
    text-align: center;
  }

  .paragraph {
    max-width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .dev-letter {
    font-size: 4em;
  }

  .design-letter {
    font-size: 4em;
  }

  .interaction-letter {
    font-size: 4em;
  }
}

@media screen and (max-width: 479px) {
  .s-scroll {
    height: 100vh;
  }

  .s-scroll-bg-img.is-1 {
    width: 100vw;
    height: auto;
    padding-left: 0px;
    background-image: url('../images/KakaoTalk_Photo_2021-06-29-16-39-43-2.png');
    background-position: 30% 50%;
    background-size: cover;
  }

  .s-scroll-bg-img.is-2 {
    background-image: url('../images/KakaoTalk_Photo_2021-06-29-16-39-43-3.png');
    background-position: 30% 50%;
  }

  .s-scroll-bg-img.is-3 {
    background-image: url('../images/KakaoTalk_Photo_2021-06-29-16-39-43-5.png');
    background-position: 50% 50%;
  }

  .content-top {
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: auto;
    height: 100vh;
    padding: 0px 0px 70px;
  }

  .content-top.sec2 {
    padding-top: 25px;
    padding-bottom: 0px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .content-top.sec3 {
    margin-top: 0px;
    padding-bottom: 0px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .content-top-right {
    max-width: 100%;
  }

  .content-bottom {
    padding: 40px 40px 10px;
  }

  .content-heading-wrapper {
    margin-bottom: 10px;
  }

  .dev-letter {
    font-size: 0.7em;
  }

  .design-letter {
    font-size: 2em;
  }

  .interaction-letter {
    font-size: 2em;
  }

  .section-p.section {
    display: none;
  }

  .section-p.section.mobile {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 90vw;
    height: 80vh;
    padding: 9px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: #404ac9;
  }

  .section-p.thrid {
    display: none;
  }

  .section-p.first {
    display: none;
    opacity: 1;
  }

  .section-p.first.mobile {
    position: relative;
    top: -56px;
    display: block;
    width: 100vw;
    height: auto;
    margin-top: auto;
    margin-left: 0px;
    padding-bottom: 0px;
  }

  .transition-block {
    display: none;
    background-color: #fcdd56;
  }

  .heading {
    font-size: 2em;
  }

  .paragraph {
    font-size: 1em;
  }

  .image-2 {
    max-width: none;
    padding-top: 0px;
  }

  .image-3.thrid {
    display: none;
  }

  .image-3.thrid.mobile {
    display: block;
    width: auto;
    height: 60px;
    max-width: none;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
  }

  .image-4 {
    display: none;
  }

  .image-4.mobile {
    display: block;
    margin-top: 0px;
    margin-left: 0px;
  }

  .image-5 {
    display: block;
    width: auto;
    height: 30vh;
    max-width: none;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }

  .image-6 {
    display: block;
    width: 50%;
    height: auto;
    max-width: none;
    padding-bottom: 0px;
  }

  .image-7 {
    display: block;
    width: 50%;
    height: auto;
    max-width: none;
    margin-right: 0px;
  }

  .image-9 {
    display: none;
  }

  .div-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
    height: 20vh;
    margin-bottom: 13px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .heading-2 {
    position: absolute;
    left: 90%;
    top: 25%;
    right: auto;
    bottom: auto;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .heading-2._2 {
    left: -7%;
    top: 50%;
    font-size: 20px;
  }

  .heading-2._2._4 {
    left: 51%;
    top: 64%;
    line-height: 20px;
  }

  .heading-2._2._4._1 {
    left: 20%;
    top: 23%;
    font-size: 10px;
    line-height: 10px;
  }

  .div-block-2 {
    position: relative;
    padding-top: 20px;
  }

  .image-10 {
    display: block;
    width: 100vw;
    height: auto;
    max-width: none;
    margin-top: 0px;
    margin-bottom: 25px;
  }

  .div-block-4 {
    position: absolute;
    left: 0%;
    top: 0%;
    right: auto;
    bottom: auto;
    z-index: 100;
    display: none;
    width: 100vw;
    height: 100vh;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: transparent;
  }

  .image-11 {
    position: relative;
    width: 90%;
    padding: 52px 12px 30px;
    border-radius: 16px;
    background-color: #f5f5f5;
    box-shadow: 2px 14px 20px -13px rgba(0, 0, 0, 0.44);
  }

  .div-block-5 {
    position: absolute;
    left: auto;
    top: 0%;
    right: 0%;
    bottom: auto;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #e7e7e7;
  }

  .div-block-6 {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .heading-3 {
    position: absolute;
    left: auto;
    top: -3%;
    right: 9%;
    bottom: auto;
    color: #5172ff;
    font-size: 30px;
    line-height: 30px;
  }

  .heading-4 {
    font-family: Nunito, sans-serif;
    font-size: 30px;
    line-height: 30px;
  }

  .paragraph-2 {
    font-family: Nunito, sans-serif;
    font-size: 0.6em;
    line-height: 1.2em;
    font-weight: 400;
    text-align: left;
  }

  .list-item {
    font-family: Nunito, sans-serif;
    font-size: 0.5em;
    line-height: 1.4em;
    text-align: left;
  }

  .heading-5 {
    width: 100%;
    margin-top: 10px;
    border-radius: 20px;
    background-color: #545ed6;
    font-family: Nunito, sans-serif;
    color: #fff;
    font-size: 0.5em;
    line-height: 2em;
    font-weight: 400;
  }

  .heading-5.contestrule {
    color: #ffc455;
    font-weight: 400;
  }

  .heading-5.contestrule._3 {
    margin-top: 20px;
    background-color: transparent;
  }

  .list {
    padding-left: 32px;
  }

  .paragraph-3 {
    font-family: Nunito, sans-serif;
    font-size: 0.6em;
    line-height: 1em;
    font-weight: 400;
  }
}

