.App {
    height:100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
    -webkit-appearance: none;
}

html, body, #app, #app>div {
    height: 100%;
    background-color:#414C95;
    -ms-overflow-style: none;
    scrollbar-width: none; /* Firefox */
}

.body::-webkit-scrollbar {
    width: 0!important;
    display: none; /* Chrome, Safari, Opera*/
}
